<style>
    .row-ID {
        width: 10%;
    }

    .row-name {
        width: 40%;
    }

    .row-address {
        width: 30%;
    }

    .row-email {
        width: 20%;
    }

    .users {
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
      
    }

        .users td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


    
        .card-body{
            height: 303px; 
        }



</style>

<div class="col-md-12">
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive ps">
                <table class="table tablesorter users" id="data">
                    <thead class=" text-primary">
                        <tr>
                            <th class="row-ID">Customer ID</th>
                            <th class="row-name">Name</th>
                            <th class="row-address">Address</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
            </div>
        </div>
    </div>
    <button id="back">Back</button>
    <button id="next">Next</button>

</div>
@section scripts
    {
<script>
    $(function () {
        Customers_Read(); 
    });

    function Customers_Read() {
        $.ajax({
            url: 'https://localhost:44395/api/Customer',
            method: 'GET',
        }).done(function (result) {
            Customers_LoadTable(result);
        }); 
    }

    function Customers_LoadTable(result) {
       var rows = [];
        $.each(result, function (index, obj) {
            rows.push('<tr><td>' + obj.customerID + '</td><td>' + obj.firstName + " " + obj.lastName + '</td><td>' + obj.address+'</td></tr>');
        });
        $('table').append(rows.join(''));

        Customers_TablePagination()
    }

    function Customers_TablePagination(){
        $('.card-body').after('<div style="text-align:center;" id="nav"></div>');

        //Math for actual paging
        var rowsShown = 4;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal / rowsShown;

        //Add elements to our nav
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
        }



        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');

        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    }

   

    
</script>
}