<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsitePractice</title>
    @await Html.PartialAsync("_StylesScriptsPartial")
</head>
<body>
    <div class="wrapper ">
        @await Html.PartialAsync("LayoutPartials/_SidebarPartial")
        <div class="main-panel">
            @await Html.PartialAsync("LayoutPartials/_NavbarPartial")
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Html.PartialAsync("LayoutPartials/_FooterPartial")
        </div>
    </div>
    <div id="applicationModals" class="modal" tabindex="-1" role="dialog"></div>
    @RenderSection("Scripts", required: false)
</body>
</html>