@{
    ViewData["Title"] = "Customer Listing";
}
<h2>@ViewData["Title"]</h2>



<button id="Create" type="button" class="btn btn-primary" data-toggle="modal">
    Enter New Customers
</button>

<button id="Read" type="button" class="btn btn-primary" data-toggle="modal">
    Display Customer Data
</button>

@section scripts
    {
    <script>
        $("#Create").on("click", function () {
            $.ajax({
                url: '@Url.Action("OpenCreatePartial", "Home")',
                method: 'GET',
            }).done(function (result) {
                processResult(result);
            });
        });

         $("#Read").on("click", function () {
            $.ajax({
                url: '@Url.Action("OpenReadPartial", "Home")',
                method: 'GET',
                data: "1",
            }).done(function (result) {
                processResult(result);
            });
        });

        function processResult(result) {
            $('#applicationModals').html(result);
            $('#applicationModals').modal('show');
        }
    </script>
}


