<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            CT
        </a>

        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Dashboard"> 
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Customer" asp-action="CustomerListing"> 
                    <i class="tim-icons icon-single-02"></i>
                    <p>Customer Listing</p>
                </a>
            </li>





        </ul>
    </div>
</div>